<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="page">
      <h1><%= title %></h1>
      <a href="/todos">To-Do List</a>
    </div>
  </body>
</html>
