body {
  padding: 5vmin;
  font: 3vmin "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(https://i.imgur.com/8LKzPGv.png);
  background-size: cover;
  font-family: 'Bangers', cursive;
  color: whitesmoke;
  margin: auto;
}

a {
  color: whitesmoke;
  padding: 2vmin;
  font-size: 6vmin;
}

.delete-form {
  display: inline-block;
  margin-right: 1vmin;
}

.delete-form button {
  color: red;
}

li {
  list-style: none;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1vmin;
  font-size: 5vmin;
}

h1 {
  font-size: 7vmin;
}

.editdo {
  padding: 6vmin;
}