<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
  <title>Express To-Do</title>
</head>
<body>
  <div class="page">
    <h1>New To-Do</h1>
    <form action="/todos" method="POST" autocomplete="off">
        <input type="text" name="todo">
        <button type="submit">Add To-Do</button>
    </form>
    </div>
</body>
</html>